.footer-container{
  height:10vh;
  background-color: rgba(0,14,27,1);
  color:#fff;
  display: flex;
  width:100%;
  justify-content: flex-end;


}


.footer-container__rights{
  display: flex;
  width:58vw;
  align-items: center;
  justify-content: space-between;
  margin:0 2vw 0 0;
  
}

.footer__link{
   text-decoration: none;
   font-weight: bold;
   font-size: 2vw;
     color:#fff;


}


.footer__link:visited{
  color:#fff;
}

.website-rights{
  font-size: 2vw;
 
}
